xml/pdf2xml.from_sample_xml.rnc

default namespace = ""

start =
  element pdf2xml {
    attribute producer { xsd:NCName },
    attribute version { xsd:NMTOKEN },
    element page {
      attribute height { xsd:integer },
      attribute left { xsd:integer },
      attribute number { xsd:integer },
      attribute position { xsd:NCName },
      attribute top { xsd:integer },
      attribute width { xsd:integer },
      element fontspec {
        attribute color { text },
        attribute family { xsd:NCName },
        attribute id { xsd:integer },
        attribute size { xsd:integer }
      }*,
      element text {
        attribute font { xsd:integer },
        attribute height { xsd:integer },
        attribute left { xsd:integer },
        attribute top { xsd:integer },
        attribute width { xsd:integer },
        (text
         | element a {
             attribute href { xsd:anyURI },
             text
           })+
      }+
    }+
  }
